.sidebar {
  transition-duration: .3s;
  
  &__nav, .wrapper {
    width: calc(100% - 40px);
    min-width: 110px;
  }

  .wrapper {
    flex: 1;
  }

  .more-btn {
    display: none;
    transform: rotate(90deg);
    transition-duration: .3s;

    &.show {
      transform: rotate(270deg);
    }
  }
}

@media screen and (max-width: 480px) {
  .sidebar {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;

    &__nav, &__lang {
      width: auto;
      text-align: center;
    }

    .more-btn {
      display: block;
    }

    .wrapper {
      height: 0;
      overflow: hidden;

      &.show {
        height: auto;
      }
    }
  }
}