.sidebar {
  transition-duration: .3s;
  padding-top: 34px;
  
  &__nav {
    width: calc(100% - 40px);
    min-width: 110px;
  }
}

@media screen and (max-width: 480px) {
  .sidebar {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    justify-content: flex-start;
    padding-top: 16px;

    &__nav, &__lang {
      width: auto;
      text-align: center;
    }
  }
}