:root {
  --grey-1: #F2F4F4;
  --grey-2: #E5E8E8;
  --grey-3: #CCD1D1;
  --grey-4: #B2BABB;
  --grey-5: #707B7C;
  --blue-grey-1: #D6DBDF;
  --blue-grey-2: #AEB6BF;
  --blue-grey-3: #85929E;
  --blue-grey-4: #5D6D7E;
  --blue-grey-5: #34495E;
}

.f-grey-1 { color: var(--grey-1) }
.b-grey-1 { background-color: var(--grey-1) }

.f-grey-2 { color: var(--grey-2) }
.b-grey-2 { background-color: var(--grey-2) }

.f-grey-3 { color: var(--grey-3) }
.b-grey-3 { background-color: var(--grey-3) }

.f-grey-4 { color: var(--grey-4) }
.b-grey-4 { background-color: var(--grey-4) }

.f-grey-5 { color: var(--grey-5) }
.b-grey-5 { background-color: var(--grey-5) }

.f-blue-grey-1 { color: var(--blue-grey-1) }
.b-blue-grey-1 { background-color: var(--blue-grey-1) }

.f-blue-grey-2 { color: var(--blue-grey-2) }
.b-blue-grey-2 { background-color: var(--blue-grey-2) }

.f-blue-grey-3 { color: var(--blue-grey-3) }
.b-blue-grey-3 { background-color: var(--blue-grey-3) }

.f-blue-grey-4 { color: var(--blue-grey-4) }
.b-blue-grey-4 { background-color: var(--blue-grey-4) }

.f-blue-grey-5 { color: var(--blue-grey-5) }
.b-blue-grey-5 { background-color: var(--blue-grey-5) }

