@import '../../../assets/styles/colors';

.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.section-wrapper {
  border: 1px solid var(--grey-3);
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows .4s ease-out;

  &.closed {
    grid-template-rows: 0fr;

    ::ng-deep > div:first-of-type {
      padding: 0;
    }
  }

  ::ng-deep {
    div:first-of-type {
      overflow: hidden;
      transition: .1s all ease;
    }
  }
}

@media screen and (max-height: 500px) {
  .header {
    position: unset;
  }
}