.page {
  &__menu {
    flex: 0 0 25%;
  }

  &__content {
    flex: 1;
  }
}

@media screen and (max-width: 480px) {
  .page {
    display: flex;
    flex-direction: column;

    &__menu {
      flex: 1 0 auto;
    }

    &__content {
      flex: 1 0 100%;
      max-height: calc(100% - 80px);
    }
  }
}