<div class="mobile-filters d-inline-flex b-blue-grey-2" [class.w-100]="expanded()">
  <i class="icon-filters" (click)="toggleExpanded(!expanded())"></i>
  @if (expanded()) {
    <div class="d-inline-flex gap-8 align-items-center justify-content-end w-100">
      <div class="lang pointer f-grey-5">
        <span class="big" [class.bolder]="language() === 'pl'" (click)="setLang('pl')">PL</span> |
        <span class="big" [class.bolder]="language() === 'en'" (click)="setLang('en')">ENG</span>
      </div>
      <div class="filters">filters</div>
    </div>
  }
</div>
