<div class="mobile-filters d-inline-flex b-blue-grey-2" [class.open]="expanded()">
  <i class="icon-filters" (click)="toggleExpanded(!expanded())"></i>
  <div class="mobile-filters__menu" [class.open]="expanded()" [class.projects-page-view]="isProjectsPage$ | async">
    <div class="mobile-filters__menu__wrapper d-inline-flex gap-4 align-items-center justify-content-end">
      <div class="lang pointer f-grey-5 no-wrap">
        <span class="big" [class.bolder]="language() === 'pl'" (click)="setLang('pl')">PL</span> |
        <span class="big" [class.bolder]="language() === 'en'" (click)="setLang('en')">ENG</span>
      </div>
      <div class="filters">
        @if (expanded() && (isProjectsPage$ | async)) {
          <app-filters-wrapper class="position-absolute filters-wrapper" [bolderOptions]="true"/>
        }
      </div>
    </div>
  </div>
</div>
