<div class="about p-8 gap-4 d-flex flex-column overflow-auto h-100">
  <div class="about__section">
    <div class="about__section__header p-16 bolder b-grey-4 f-grey-1 no-select">{{ 'aboutMe' | translate }}</div>
    <span class="d-flex flex-column gap-4 px-4 f-grey-5">
      @if (language() !== 'en') {
        <p class="pl-8">Cześć. Nazywam się Wojciech Łaska i witam w moim portfolio.</p>
        <p>Programowaniem zajmuję się zawodowo od nieco ponad 2 lat, jednak hobbystycznie programowałem już wcześniej.
           Poznałem dosyć szeroki zakres technologii od frontendu (Angular, React), poprzez backend (Python, Django, Django Rest Api, Flask), na technologiach bazodanowych (PostgreSQL)
          i mobilnych kończąc.</p>
        <p>Obecnie w pracy pracuję wyłącznie z Angularem, jednak nie zapominam o pozostałych poznanych technologiach, które stanowią miłą odmianę po godzinach, sprawiając, że pomimo
          pracy jako programista, nadal mogę traktować programowanie jako hobby. Staram się także stopniowo poszerzać zakres umiejętności o nowe frameworki, zagadnienia związane z devops
          czy z chmurą Aws. W taki sposób poznałem chociażby React Native, w którym, pomimo, że nie jestem ekspertem, czuję się dosyć swobodnie i rozumiem jak działa.</p>
        <p>W czasie wolnym staram się unikać nudy uprawiając sport, czytając książki i spędzając czas na świeżym powietrzu. Jestem wielkim fanem piłki nożnej,
           jazdy na rowerze a od jakiegoś czasu zacząłem ćwiczyć na siłowni. W sporcie można łatwo zrzucić z siebie stres z życia zawodowego i dodać sobie energii.</p>
        <p>Zapraszam do kontaktu czy to poprzez email, Linkedin lub telefonicznie.</p>
        <p class="mt-8">Pozdrawiam</p>
        <p class="bold">Wojtek</p>

      } @else {
        <p class="pl-8">Hi. My name is Wojciech Łaska and welcome to my portfolio.</p>
        <p>I've been working professionally in programming for a little over 2 years, but I've been coding as a hobby even before that.
           I've explored a fairly wide range of technologies from frontend (Angular, React), through backend (Python, Django, Django Rest API, Flask), to database (PostgreSQL)
           and mobile technologies.</p>
        <p>Currently, at work, I exclusively use Angular, but I haven't forgotten about the other technologies I've learned. They provide a pleasant change of pace after hours, allowing me to
           keep programming as a hobby despite being a professional developer. I also try to gradually expand my skill set with new frameworks, topics related to devops
           or AWS cloud. This way, I got to know React Native, where, even though I'm not an expert, I feel quite comfortable and understand how it works.</p>
        <p>In my free time, I try to avoid boredom by playing sports, reading books, and spending time outdoors. I'm a big fan of soccer,
           cycling, and recently, I've started working out at the gym. Sports are a great way to relieve the stress of professional life and boost your energy.</p>
        <p>Feel free to contact me via email, LinkedIn, or phone.</p>
        <p class="mt-8">Best regards,</p>
        <p class="bold">Wojtek</p>

      }
    </span>
  </div>
  <!-- <div class="about__section">
    <div class="about__section__header p-16 bolder b-grey-4 f-grey-1 no-select">{{ 'certificates' | translate }}</div>
    <span class="d-flex flex-column gap-4"></span>
  </div> -->
</div>