@import '../fonts/style.css';

@import './_display';
@import './_spacing';
@import './colors';
@import './fonts';

html, body, app-root {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0 !important;
  padding: 0 !important;

  * {
    box-sizing: border-box;
  }
}

.pointer {
  cursor: pointer;
}

.default {
  cursor: default;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wrap {
  white-space: wrap;
  flex-wrap: wrap;
}

.no-wrap {
  white-space: nowrap;
  flex-wrap: nowrap;
}

.disabled {
  opacity: .4;
  pointer-events: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.no-select {
  user-select: none;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-50 {
  width: 50%;
}

.h-50 {
  height: 50%;
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}


.b-radius-4 {
  border-radius: 4px;
}
